<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						{{#each profiles}}
							{{name}} {{email}}<br/>
						{{/each}}
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>