// Intro Settings

$intro-background-color: $white;
$intro-color: $black;
$intro-padding: 50px;

$intro-heading-font-size: 28px;
$intro-heading-line-height: 38px;

$intro-content-font-size: 17px;
$intro-content-line-height: 28px;

// Table Elements

table.intro {
	background: $intro-background-color!important;
}

td.intro__heading {
	color: $intro-color;
	font-size: $intro-heading-font-size;
	line-height: $intro-heading-line-height;
	padding: {
		top: $intro-padding!important;
		bottom: ($intro-padding / 3)!important;
	} 
}

td.intro__content {
	color: $intro-color;	
	font-size: $intro-content-font-size;
	line-height: $intro-content-line-height;
	padding: {
		top: ($intro-padding / 3)!important;
		bottom: $intro-padding!important;
	} 
}
