// Mixin to Hide Video

@mixin hideVideo {

	// Hide Inline Video

	div[class="video-wrap"],
	video[class="video"] {
		display: none!important;
		z-index: -1;
	}

	// Show Fallback Image

	img[class="video-fallback"] {
		display: block!important;
	}

}

// Mixin to show Video

@mixin showVideo {

	// Show Inline Video

	div[class="video-wrap"],
	video[class="video"]
	{
		display: inline-block!important;
	}

	// Hide Fallback Image

	img[class="video-fallback"] {
		display: none!important;
	}

}


// If Webkit - Show the video

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@include showVideo();
}


// Hide video on iOS Devices which doesn't support it

// iPad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	@include hideVideo();
}

// iPad 1 & 2, iPad Mini
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	@include hideVideo();
}

// Retina iPad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	@include hideVideo();
}

// iPhone 5
@media screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1){
	@include hideVideo();
}

// iPhone 5s
@media screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2){
	@include hideVideo();
}

// iPhone 2G/3G/3GS
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1){
	@include hideVideo();
}

// iPhone 4/4S
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
	@include hideVideo();
}


// Show Video for 'Web View' on Desktop Chrome & Safari

// Chrome and Safari @ 600px
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 600px) {
	@include showVideo();
}

// Non-retina screens Webkit
@media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  	@include showVideo();
}

// Retina screens Webkit
@media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  	@include showVideo();
}

// Hide the Video Controls

video::-webkit-media-controls-enclosure,
video::-webkit-media-controls {
	display: none !important;
}
